.container {
  padding: 5rem 0;
}
.header {
  margin: 0 0 3rem 0;
  font-size: 3rem;
  font-weight: 100;
}
.text {
  font-size: 1.2rem;
}
.img {
  width: 100%;
}
.imgTextBox {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 2rem;
  margin-bottom: 5rem;
}
@media screen and (max-width: 1990px) {
  .container {
  }
}
@media screen and (max-width: 1700px) {
  .container {
  }
}
@media screen and (max-width: 1500px) {
  .container {
    padding: 8rem 0 5rem 0;
  }
}

@media screen and (max-width: 1000px) {
  .container {
    padding: 3rem 0;
  }
}
@media screen and (max-width: 950px) {
  .imgTextBox {
    grid-template-columns: 1fr;
  }
}
